// BOOTSTRAP Required
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../Styles/variables";

@import "../../../node_modules/bootstrap/scss/badge";
@import "../../../node_modules/bootstrap/scss/utilities";

.textHeader {
  position: relative;
  z-index: 100;
}

.mediaContainer {
  background-color: black;
}

cite {
  background-color: #fff;
  border-radius: 5px;
  color: #212529;
  text-align: left;
  line-height: 1.8em;
}