
.navbar {

  & * {
    z-index: 10;
    position: relative;
  }
  background-color: transparent;

  .navbar-brand {
    img {
        width: 100px;
        transition: width 0.5s, height 0.5s;
    }
  }
}

.fullHeight {
    .navbar-brand {
        img {
            width: 230px;
        }
    }
}